@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('../img/MicrosoftTeams-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'TimesNewRoman', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    /*background-color: rgba(224, 237, 237, 0.5) !important;*/
    background: rgba(76, 175, 80, 0.3);
    height: 370px;
    margin-top: 6%;
    margin-bottom: mdslkfam;
    background-color: #ffffffbf !important;
    margin-left: 48%;
    border-block: 1px solid rgb(18, 11, 233);
    box-shadow: 1px 1px 3px;
    box-sizing: content-box;
    position: fixed;
    opacity: 0.2px;

    padding-left: 0;
}




.login_btn {
    color: black;
    background-color: #e42525;
    width: 85px;
    height: 25px;
    margin-left: 30%;

}